/*Inicio Navbar */
.navbar{
	margin-bottom: 0;
	padding: 30px 10px 40px 10px;

}
#navigation{
	text-align: center;

}
a img{
	padding: 0 140px;
}

.nav>li>a {
    padding:10px 25px;
}
 .navbar-nav{
	float: right;
	padding-right: 30px;
	padding-top: 20px;
}
.navbar-toggle {
  overflow: hidden;

.icon-bar {
    transition: opacity, transform;
    transition-duration: $speed;
    transition-timing-function: $easing;
}

    &:not(.collapsed) {
    .icon-bar {
      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}
/*Fin Navbar */

/*Inicio Hero */
#hero{
	background-image: url(../img/taxi.jpg);
	height: 125vh;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: white;
}
#conduce{
	background-color: #f7b617;
	width: 535px;
	height: 55vh;
	position: relative;
	top: 205px;
	float: right;
	padding: 30px;
	border-radius: 3px;
    overflow: auto;
}
#img-peq{
	width:25%;
	height: 25%;
	padding-left: 17px;
}
p a{
	text-decoration: none;
	color: white;
}
p a:hover{
	color: black;
	text-decoration: none;
	border: 2px solid #FB8C00;
	border-radius:4px;
	padding: 8px; 
}
#btn-cdtor{
	margin: 30px 40px 0 0;
}
#btn-cdtor:hover{
	background-color: #FB8C00;
	color: #424242;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
/*Fin Hero */
/*Inicio Información */
#informacion{
	background-color: #f7b617;
	margin: 0;
	height: 90vh;

}
.row{
	margin:0;
	padding:0;
}
/*Fin Información */
/*Inicio Conduce*/
#conductor{
	background-image: url(../img/conduce.jpg);
    background-size: cover;
    background-position:25% 75%;
    background-repeat: no-repeat;
    height: 70vh;
}
#hand{
	background:rgba(24,24,24,0.5);
	background-clip: content-box;
	width: 550px;
	margin-left: 55%;
	padding: 15px;
	border-radius: 10px;
    overflow: auto;
}
/*Fin Conduce*/
/*Inicio Tarifas*/
#tarifas{
	background-color: #f7b617;
	color: white;
	height: 90vh;
}
#map{
	margin-top: 79px;
	width: 50%;
	height: 50vh;
	border:2px solid black;
	
}
button{
	text-align: center;
	margin:25px auto;
	padding: 10px 15px;
	color: black;
	background-color: white;
	border: 0;
	font-weight: 700;
	border-radius: 5px;
	font-size: 15px;
	display: inline-block;
}
button:hover, button:focus{
	outline: 0;
}
.controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }
      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }


/*Fin Tarifas*/
/*Inicio Footer */
#footer{
	background-color: #2b2b2b;
	color: #9E9E9E;
	height: 90vh;
}
#img-footer{
	padding-top: 50px;
}
#footer-line{
	height: 50vh;
	border-top: 1.5px solid #9E9E9E;
	border-bottom: 1.5px solid #9E9E9E;
	padding:30px 20px 10px 20px;
	margin-top: 60px;
}
.list ul{
	list-style:none;
}
a{
	padding: 10px;
	margin-bottom: 10px;
}
ul li a{
	text-decoration: none;
	color: #9E9E9E;
	list-style:none;
}
#icons{
	padding-top: 250px;
}
/*Fin Footer */