/*Inicio Navbar */
.navbar{
	margin-bottom: 0;
	padding: 30px 10px 40px 10px;

}
#navigation{
	text-align: center;

}
a img{
	padding: 0 140px;
}

.nav>li>a {
    padding:10px 25px;
}
 .navbar-nav{
	float: right;
	padding-right: 30px;
	padding-top: 20px;
}
.navbar-toggle {
  overflow: hidden;

.icon-bar {
    transition: opacity, transform;
    transition-duration: $speed;
    transition-timing-function: $easing;
}

    &:not(.collapsed) {
    .icon-bar {
      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}
/*Fin Navbar */

/*Inicio Hero */
#hero{
	background-image: url(../img/taxi.jpg);
	height: 135vh;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: white;
}
#conduce{
	background-color: #f7b617;
	width: 535px;
	height: 55vh;
	position: relative;
	top: 275px;
	float: right;
	padding: 30px;
	border-radius: 3px;
    overflow: auto;
}
#img-peq{
	width:25%;
	height: 25%;
	padding-left: 17px;
}

/*Fin Hero */
/*Inicio Información */
#informacion{
	background-color: #f7b617;
	margin: 0;

}
.row{
	margin:0;
	padding:0;
}
/*Fin Información */
/*Inicio Conduce*/
#conductor{
	background-image: url(../img/conduce.jpg);
    background-size: cover;
    background-position:25% 75%;
    background-repeat: no-repeat;
}
#hand{
	background:rgba(24,24,24,0.5);
	background-clip: content-box;
	width: 550px;
	margin-left: 55%;
	padding: 15px;
	border-radius: 10px;
    overflow: auto;
}
/*Fin Conduce*/
/*Inicio Tarifas*/
#map{
	width: 50%;
	height: 100vh;
	border:2px solid black;
	cursor: url("../img/car.png"), auto;
}
button{
	text-align: center;
	margin:15px auto;
	padding: 10px 15px;
	color: black;
	background-color: white;
	border: 0;
	font-weight: 700;
	border-radius: 5px;
	font-size: 15px;
	display: inline-block;
}
button:hover, button:focus{
	outline: 0;
}
#btn-cdtor{
	margin: 30px 40px 0 10px;
}
#btn-cdtor:hover{
	background-color: #FB8C00;
	color: #424242;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}


/*Fin Tarifas*/
/*Inicio Footer */
#footer{
	background-color: #2b2b2b;
	color: #9E9E9E;
	height: 100vh;
}
/*Fin Footer */